Flask==1.0.2
db-sqlite3
fastai==1.0.61
gdown
html2text
nltk
numpy==1.16.3
pillow~=6.0
pytest-shutil
python-multipart==0.0.5
scikit-learn==0.20.2
scikit-plot
seaborn
sklearn
spacy==2.3.5
textblob
tweepy
tweet-preprocessor
voila
